In [1]:
import pandas as pd
from IPython.display import display
import matplotlib.pyplot as plt
import seaborn as sns
import pyoverleaf as po
import os
import numpy as np
import scipy.stats as ss
from statsmodels.sandbox.stats.multicomp import multipletests
import statsmodels.api as sm
import statsmodels.formula.api as smf
from joblib import Parallel, delayed
import warnings
from tqdm.notebook import tqdm

In [2]:
df = pd.read_csv('model scoring.csv')

print("\nIdentifying rows with NA in specified columns:")
cols_to_check = ['quality', 'agreement', 'accuracy', 'hallucination']
all_na_rows = pd.DataFrame()

for col in cols_to_check:
    na_rows = df[df[col].isna()]
    if not na_rows.empty:
        print(f"Column {col}: Found {len(na_rows)} NA values.")
        all_na_rows = pd.concat([all_na_rows, na_rows])
    else:
        print(f"Column {col}: No NA values found.")

if not all_na_rows.empty:
    print("Saving all rows with NA values to 'all_na_rows.csv'.")
    all_na_rows.to_csv('all_na_rows.csv', index=True)
else:
    print("No NA values found in any of the specified columns.")

df[cols_to_check] = df[cols_to_check].fillna(0)
df = df[df['model'] != 'o1-mini-2024-09-12']

Identifying rows with NA in specified columns:
Column quality: Found 21 NA values.
Column agreement: Found 21 NA values.
Column accuracy: Found 21 NA values.
Column hallucination: Found 21 NA values.
Saving all rows with NA values to 'all_na_rows.csv'.

In [3]:
display(df.head())

,model,attempt,temperature,top_p,rag_type,baseline,results,comparison_prompt,quality,agreement,accuracy,hallucination,justification
0,gpt-4o-mini-2024-07-18,1,0.1,0.1,2-steps RAG,A descrição correta de acordo com a Nomenclatu...,A descrição oficial do código NCM para a merca...,"Avalie as respostas abaixo de 0 a 10, em que 0...",6.0,5.0,4.0,7.0,A resposta do modelo apresenta uma descrição q...
1,gpt-4o-mini-2024-07-18,1,0.1,0.5,2-steps RAG,A descrição correta de acordo com a Nomenclatu...,A descrição oficial do código NCM para a merca...,"Avalie as respostas abaixo de 0 a 10, em que 0...",6.0,5.0,4.0,7.0,A resposta do modelo apresenta uma descrição q...
2,gpt-4o-mini-2024-07-18,1,0.1,0.9,2-steps RAG,A descrição correta de acordo com a Nomenclatu...,A descrição oficial do código NCM para a merca...,"Avalie as respostas abaixo de 0 a 10, em que 0...",6.0,5.0,4.0,3.0,A resposta do modelo apresenta uma descrição q...
3,gpt-4o-mini-2024-07-18,1,1.0,0.1,2-steps RAG,A descrição correta de acordo com a Nomenclatu...,A descrição oficial do código NCM para a merca...,"Avalie as respostas abaixo de 0 a 10, em que 0...",6.0,5.0,4.0,7.0,A resposta do modelo apresenta uma descrição q...
4,gpt-4o-mini-2024-07-18,1,1.0,0.5,2-steps RAG,A descrição correta de acordo com a Nomenclatu...,A descrição oficial do código NCM para a merca...,"Avalie as respostas abaixo de 0 a 10, em que 0...",6.0,5.0,4.0,7.0,A resposta do modelo apresenta uma descrição q...

In [4]:
print("Descriptive Statistics:")
display(df[['quality', 'agreement', 'accuracy', 'hallucination']].describe())

print("\nGrouped by model:")
model_grouped_quality = df.groupby('model')[['quality']].describe()
display(model_grouped_quality)
model_grouped_agreement = df.groupby('model')[['agreement']].describe()
display(model_grouped_agreement)
model_grouped_accuracy = df.groupby('model')[['accuracy']].describe()
display(model_grouped_accuracy)
model_grouped_hallucination = df.groupby('model')[['hallucination']].describe()
display(model_grouped_hallucination)

print("\nGrouped by temperature:")
temperature_grouped_quality = df.groupby('temperature')[['quality']].describe()
display(temperature_grouped_quality)
temperature_grouped_agreement = df.groupby('temperature')[['agreement']].describe()
display(temperature_grouped_agreement)
temperature_grouped_accuracy = df.groupby('temperature')[['accuracy']].describe()
display(temperature_grouped_accuracy)
temperature_grouped_hallucination = df.groupby('temperature')[['hallucination']].describe()
display(temperature_grouped_hallucination)

print("\nGrouped by top_p:")
top_p_grouped_quality = df.groupby('top_p')[['quality']].describe()
display(top_p_grouped_quality)
top_p_grouped_agreement = df.groupby('top_p')[['agreement']].describe()
display(top_p_grouped_agreement)
top_p_grouped_accuracy = df.groupby('top_p')[['accuracy']].describe()
display(top_p_grouped_accuracy)
top_p_grouped_hallucination = df.groupby('top_p')[['hallucination']].describe()
display(top_p_grouped_hallucination)

print("\nGrouped by rag_type:")
rag_type_grouped_quality = df.groupby('rag_type')[['quality']].describe()
display(rag_type_grouped_quality)
rag_type_grouped_agreement = df.groupby('rag_type')[['agreement']].describe()
display(rag_type_grouped_agreement)
rag_type_grouped_accuracy = df.groupby('rag_type')[['accuracy']].describe()
display(rag_type_grouped_accuracy)
rag_type_grouped_hallucination = df.groupby('rag_type')[['hallucination']].describe()
display(rag_type_grouped_hallucination)

print("\nGrouped by rag_type + model:")
df['rag_type_model'] = df['rag_type'] + '_' + df['model']
rag_type_model_grouped_quality = df.groupby('rag_type_model')[['quality']].describe()
display(rag_type_model_grouped_quality)
rag_type_model_grouped_agreement = df.groupby('rag_type_model')[['agreement']].describe()
display(rag_type_model_grouped_agreement)
rag_type_model_grouped_accuracy = df.groupby('rag_type_model')[['accuracy']].describe()
display(rag_type_model_grouped_accuracy)
rag_type_model_grouped_hallucination = df.groupby('rag_type_model')[['hallucination']].describe()
display(rag_type_model_grouped_hallucination)

Descriptive Statistics:

            quality     agreement      accuracy  hallucination
count  17640.000000  17640.000000  17640.000000   17640.000000
mean       4.011451      3.984580      3.286054       3.572336
std        2.543590      3.006482      2.805166       3.449470
min        0.000000      0.000000      0.000000       0.000000
25%        2.000000      2.000000      1.000000       0.000000
50%        3.000000      2.000000      2.000000       3.000000
75%        6.000000      6.000000      5.000000       6.000000
max       10.000000     10.000000     10.000000      10.000000

Grouped by model:

                           quality                                          \
                             count      mean       std  min  25%  50%  75%
model
Mistral-7B-Instruct-v0.3    3528.0  2.336168  2.595022  0.0  0.0  2.0  4.0
TeenyTinyLlama-160m-NCM-ft  3528.0  3.726474  2.187876  0.0  2.0  3.0  6.0
deepseek-chat               3528.0  5.095238  2.373180  0.0  3.0  4.0  7.0
gemini-2.0-flash            3528.0  4.316893  2.278069  2.0  2.0  3.0  6.0
gpt-4o-mini-2024-07-18      3528.0  4.582483  2.351817  2.0  3.0  4.0  7.0


                             max
model
Mistral-7B-Instruct-v0.3     9.0
TeenyTinyLlama-160m-NCM-ft   8.0
deepseek-chat               10.0
gemini-2.0-flash            10.0
gpt-4o-mini-2024-07-18      10.0

                           agreement                                          \
                               count      mean       std  min  25%  50%  75%
model
Mistral-7B-Instruct-v0.3      3528.0  2.335884  2.870762  0.0  0.0  2.0  3.0
TeenyTinyLlama-160m-NCM-ft    3528.0  3.694444  2.398174  0.0  1.0  4.0  5.0
deepseek-chat                 3528.0  4.939626  3.190224  0.0  2.0  3.0  8.0
gemini-2.0-flash              3528.0  4.467687  2.832149  1.0  2.0  3.0  7.0
gpt-4o-mini-2024-07-18        3528.0  4.485261  2.968850  1.0  2.0  3.0  7.0


                             max
model
Mistral-7B-Instruct-v0.3    10.0
TeenyTinyLlama-160m-NCM-ft   9.0
deepseek-chat               10.0
gemini-2.0-flash            10.0
gpt-4o-mini-2024-07-18      10.0

                           accuracy                                          \
                              count      mean       std  min  25%  50%  75%
model
Mistral-7B-Instruct-v0.3     3528.0  1.910147  2.565309  0.0  0.0  1.0  2.0
TeenyTinyLlama-160m-NCM-ft   3528.0  2.765873  1.887434  0.0  1.0  2.0  4.0
deepseek-chat                3528.0  4.414966  3.086803  0.0  2.0  2.0  8.0
gemini-2.0-flash             3528.0  3.584184  2.799864  1.0  1.0  2.0  5.0
gpt-4o-mini-2024-07-18       3528.0  3.755102  2.845139  1.0  2.0  2.0  6.0


                             max
model
Mistral-7B-Instruct-v0.3    10.0
TeenyTinyLlama-160m-NCM-ft   8.0
deepseek-chat               10.0
gemini-2.0-flash            10.0
gpt-4o-mini-2024-07-18      10.0

                           hallucination                                     \
                                   count      mean       std  min  25%  50%
model
Mistral-7B-Instruct-v0.3          3528.0  5.500000  4.166713  0.0  1.0  5.0
TeenyTinyLlama-160m-NCM-ft        3528.0  5.356859  3.094290  0.0  3.0  5.0
deepseek-chat                     3528.0  2.331066  2.703017  0.0  0.0  1.0
gemini-2.0-flash                  3528.0  2.308673  2.527695  0.0  0.0  2.0
gpt-4o-mini-2024-07-18            3528.0  2.365079  2.716121  0.0  0.0  2.0


                             75%   max
model
Mistral-7B-Instruct-v0.3    10.0  10.0
TeenyTinyLlama-160m-NCM-ft   9.0  10.0
deepseek-chat                4.0  10.0
gemini-2.0-flash             4.0  10.0
gpt-4o-mini-2024-07-18       4.0  10.0

Grouped by temperature:

            quality
              count      mean       std  min  25%  50%  75%   max
temperature
0.1          5880.0  4.127041  2.619815  0.0  2.0  4.0  6.0  10.0
1.0          5880.0  4.009354  2.518666  0.0  2.0  3.0  6.0  10.0
1.9          5880.0  3.897959  2.485637  0.0  2.0  3.0  6.0  10.0

            agreement
                count      mean       std  min  25%  50%  75%   max
temperature
0.1            5880.0  4.130612  3.050677  0.0  2.0  4.0  7.0  10.0
1.0            5880.0  3.971769  2.991037  0.0  2.0  2.0  6.0  10.0
1.9            5880.0  3.851361  2.971146  0.0  2.0  2.0  6.0  10.0

            accuracy
               count      mean       std  min  25%  50%  75%   max
temperature
0.1           5880.0  3.382313  2.825676  0.0  1.0  2.0  5.0  10.0
1.0           5880.0  3.278571  2.803228  0.0  1.0  2.0  5.0  10.0
1.9           5880.0  3.197279  2.783849  0.0  1.0  2.0  5.0  10.0

            hallucination
                    count      mean       std  min  25%  50%  75%   max
temperature
0.1                5880.0  3.504762  3.376773  0.0  0.0  3.0  5.0  10.0
1.0                5880.0  3.484014  3.425153  0.0  0.0  3.0  6.0  10.0
1.9                5880.0  3.728231  3.539722  0.0  0.0  3.0  6.0  10.0

Grouped by top_p:

      quality
        count      mean       std  min  25%  50%  75%   max
top_p
0.1    5880.0  4.126361  2.621341  0.0  2.0  3.0  6.0  10.0
0.5    5880.0  3.972959  2.523464  0.0  2.0  3.0  6.0  10.0
0.9    5880.0  3.935034  2.480308  0.0  2.0  3.0  6.0  10.0

      agreement
          count      mean       std  min  25%  50%  75%   max
top_p
0.1      5880.0  4.130272  3.052253  0.0  2.0  4.0  7.0  10.0
0.5      5880.0  3.936395  3.000261  0.0  2.0  2.0  6.0  10.0
0.9      5880.0  3.887075  2.961252  0.0  2.0  2.0  6.0  10.0

      accuracy
         count      mean       std  min  25%  50%  75%   max
top_p
0.1     5880.0  3.386905  2.833498  0.0  1.0  2.0  5.0  10.0
0.5     5880.0  3.248639  2.801917  0.0  1.0  2.0  5.0  10.0
0.9     5880.0  3.222619  2.777500  0.0  1.0  2.0  5.0  10.0

      hallucination
              count      mean       std  min  25%  50%  75%   max
top_p
0.1          5880.0  3.510544  3.382598  0.0  0.0  3.0  5.0  10.0
0.5          5880.0  3.539796  3.474611  0.0  0.0  3.0  6.0  10.0
0.9          5880.0  3.666667  3.488827  0.0  0.0  3.0  6.0  10.0

Grouped by rag_type:

            quality
              count      mean       std  min  25%  50%  75%   max
rag_type
2-steps RAG  8820.0  5.295011  2.590605  0.0  3.0  6.0  7.0  10.0
Common RAG   8820.0  2.727891  1.712826  0.0  2.0  3.0  3.0   9.0

            agreement
                count      mean       std  min  25%  50%  75%   max
rag_type
2-steps RAG    8820.0  5.562472  3.086253  0.0  3.0  6.0  8.0  10.0
Common RAG     8820.0  2.406689  1.890476  0.0  2.0  2.0  2.0  10.0

            accuracy
               count      mean       std  min  25%  50%  75%   max
rag_type
2-steps RAG   8820.0  4.700340  3.047959  0.0  2.0  4.0  7.0  10.0
Common RAG    8820.0  1.871769  1.564574  0.0  1.0  2.0  2.0  10.0

            hallucination
                    count      mean       std  min  25%  50%  75%   max
rag_type
2-steps RAG        8820.0  3.932426  3.255178  0.0  1.0  4.0  6.0  10.0
Common RAG         8820.0  3.212245  3.597707  0.0  0.0  2.0  5.0  10.0

Grouped by rag_type + model:

                                       quality                                \
                                         count      mean       std  min  25%
rag_type_model
2-steps RAG_Mistral-7B-Instruct-v0.3    1764.0  3.642290  2.811257  0.0  2.0
2-steps RAG_TeenyTinyLlama-160m-NCM-ft  1764.0  3.773810  2.208470  0.0  2.0
2-steps RAG_deepseek-chat               1764.0  6.759070  2.068400  0.0  5.0
2-steps RAG_gemini-2.0-flash            1764.0  5.945011  2.014365  2.0  5.0
2-steps RAG_gpt-4o-mini-2024-07-18      1764.0  6.354875  1.927478  2.0  5.0
Common RAG_Mistral-7B-Instruct-v0.3     1764.0  1.030045  1.468019  0.0  0.0
Common RAG_TeenyTinyLlama-160m-NCM-ft   1764.0  3.679138  2.166678  0.0  2.0
Common RAG_deepseek-chat                1764.0  3.431406  1.203771  2.0  3.0
Common RAG_gemini-2.0-flash             1764.0  2.688776  1.009916  2.0  2.0
Common RAG_gpt-4o-mini-2024-07-18       1764.0  2.810091  1.031380  2.0  2.0


                                        50%  75%   max
rag_type_model
2-steps RAG_Mistral-7B-Instruct-v0.3    3.0  6.0   9.0
2-steps RAG_TeenyTinyLlama-160m-NCM-ft  4.0  6.0   8.0
2-steps RAG_deepseek-chat               7.0  8.0  10.0
2-steps RAG_gemini-2.0-flash            6.0  8.0  10.0
2-steps RAG_gpt-4o-mini-2024-07-18      7.0  8.0  10.0
Common RAG_Mistral-7B-Instruct-v0.3     0.0  2.0   8.0
Common RAG_TeenyTinyLlama-160m-NCM-ft   3.0  6.0   8.0
Common RAG_deepseek-chat                3.0  3.0   9.0
Common RAG_gemini-2.0-flash             2.0  3.0   7.0
Common RAG_gpt-4o-mini-2024-07-18       3.0  3.0   8.0

                                       agreement                           \
                                           count      mean       std  min
rag_type_model
2-steps RAG_Mistral-7B-Instruct-v0.3      1764.0  3.725057  3.233901  0.0
2-steps RAG_TeenyTinyLlama-160m-NCM-ft    1764.0  3.741497  2.403925  0.0
2-steps RAG_deepseek-chat                 1764.0  7.199546  2.689843  0.0
2-steps RAG_gemini-2.0-flash              1764.0  6.481293  2.507661  1.0
2-steps RAG_gpt-4o-mini-2024-07-18        1764.0  6.664966  2.539199  1.0
Common RAG_Mistral-7B-Instruct-v0.3       1764.0  0.946712  1.472183  0.0
Common RAG_TeenyTinyLlama-160m-NCM-ft     1764.0  3.647392  2.392164  0.0
Common RAG_deepseek-chat                  1764.0  2.679705  1.704492  1.0
Common RAG_gemini-2.0-flash               1764.0  2.454082  1.282387  1.0
Common RAG_gpt-4o-mini-2024-07-18         1764.0  2.305556  1.295375  1.0


                                        25%  50%  75%   max
rag_type_model
2-steps RAG_Mistral-7B-Instruct-v0.3    1.0  2.0  7.0  10.0
2-steps RAG_TeenyTinyLlama-160m-NCM-ft  1.0  4.0  5.0   9.0
2-steps RAG_deepseek-chat               5.0  8.0  9.0  10.0
2-steps RAG_gemini-2.0-flash            4.0  7.0  9.0  10.0
2-steps RAG_gpt-4o-mini-2024-07-18      5.0  7.0  9.0  10.0
Common RAG_Mistral-7B-Instruct-v0.3     0.0  0.0  2.0   9.0
Common RAG_TeenyTinyLlama-160m-NCM-ft   1.0  4.0  5.0   9.0
Common RAG_deepseek-chat                2.0  2.0  2.0  10.0
Common RAG_gemini-2.0-flash             2.0  2.0  2.0   8.0
Common RAG_gpt-4o-mini-2024-07-18       2.0  2.0  2.0   9.0

                                       accuracy                                \
                                          count      mean       std  min  25%
rag_type_model
2-steps RAG_Mistral-7B-Instruct-v0.3     1764.0  3.129252  2.985741  0.0  1.0
2-steps RAG_TeenyTinyLlama-160m-NCM-ft   1764.0  2.797052  1.899838  0.0  1.0
2-steps RAG_deepseek-chat                1764.0  6.453515  2.904530  0.0  4.0
2-steps RAG_gemini-2.0-flash             1764.0  5.437075  2.706688  1.0  3.0
2-steps RAG_gpt-4o-mini-2024-07-18       1764.0  5.684807  2.739053  1.0  3.0
Common RAG_Mistral-7B-Instruct-v0.3      1764.0  0.691043  1.129860  0.0  0.0
Common RAG_TeenyTinyLlama-160m-NCM-ft    1764.0  2.734694  1.874968  0.0  1.0
Common RAG_deepseek-chat                 1764.0  2.376417  1.519781  1.0  2.0
Common RAG_gemini-2.0-flash              1764.0  1.731293  1.219206  1.0  1.0
Common RAG_gpt-4o-mini-2024-07-18        1764.0  1.825397  1.113579  1.0  1.0


                                        50%  75%   max
rag_type_model
2-steps RAG_Mistral-7B-Instruct-v0.3    2.0  5.0  10.0
2-steps RAG_TeenyTinyLlama-160m-NCM-ft  3.0  4.0   8.0
2-steps RAG_deepseek-chat               7.0  9.0  10.0
2-steps RAG_gemini-2.0-flash            5.0  8.0  10.0
2-steps RAG_gpt-4o-mini-2024-07-18      5.0  9.0  10.0
Common RAG_Mistral-7B-Instruct-v0.3     0.0  1.0   9.0
Common RAG_TeenyTinyLlama-160m-NCM-ft   2.0  4.0   8.0
Common RAG_deepseek-chat                2.0  2.0  10.0
Common RAG_gemini-2.0-flash             1.0  2.0   9.0
Common RAG_gpt-4o-mini-2024-07-18       2.0  2.0   9.0

                                       hallucination                           \
                                               count      mean       std  min
rag_type_model
2-steps RAG_Mistral-7B-Instruct-v0.3          1764.0  4.444444  3.749045  0.0
2-steps RAG_TeenyTinyLlama-160m-NCM-ft        1764.0  5.381519  3.084574  0.0
2-steps RAG_deepseek-chat                     1764.0  3.010771  3.201035  0.0
2-steps RAG_gemini-2.0-flash                  1764.0  3.330499  2.670432  0.0
2-steps RAG_gpt-4o-mini-2024-07-18            1764.0  3.494898  2.879205  0.0
Common RAG_Mistral-7B-Instruct-v0.3           1764.0  6.555556  4.295096  0.0
Common RAG_TeenyTinyLlama-160m-NCM-ft         1764.0  5.332200  3.104653  0.0
Common RAG_deepseek-chat                      1764.0  1.651361  1.856232  0.0
Common RAG_gemini-2.0-flash                   1764.0  1.286848  1.887183  0.0
Common RAG_gpt-4o-mini-2024-07-18             1764.0  1.235261  1.978524  0.0


                                        25%   50%   75%   max
rag_type_model
2-steps RAG_Mistral-7B-Instruct-v0.3    1.0   4.0   8.0  10.0
2-steps RAG_TeenyTinyLlama-160m-NCM-ft  3.0   5.0   9.0  10.0
2-steps RAG_deepseek-chat               0.0   2.0   4.0  10.0
2-steps RAG_gemini-2.0-flash            0.0   4.0   5.0  10.0
2-steps RAG_gpt-4o-mini-2024-07-18      0.0   4.0   6.0  10.0
Common RAG_Mistral-7B-Instruct-v0.3     1.0  10.0  10.0  10.0
Common RAG_TeenyTinyLlama-160m-NCM-ft   3.0   5.0   9.0  10.0
Common RAG_deepseek-chat                0.0   1.0   4.0  10.0
Common RAG_gemini-2.0-flash             0.0   0.0   3.0  10.0
Common RAG_gpt-4o-mini-2024-07-18       0.0   0.0   3.0  10.0

In [5]:
# Define the columns for analysis
columns = ['quality', 'agreement', 'accuracy', 'hallucination']
group_columns = ['model', 'temperature', 'top_p', 'rag_type', 'rag_type_model']

# Generate and save grouped box plots with grid layout (2x2)
for group_col in group_columns:
    if group_col == 'rag_type_model':
        fig, axes = plt.subplots(2, 2, figsize=(20, 18))  # Adjust figsize for better visualization
        title_fontsize = 22
        xlabel_fontsize = 18
        ylabel_fontsize = 18
        tick_fontsize = 16
    else:
        fig, axes = plt.subplots(2, 2, figsize=(18, 10))  # Adjust figsize for better visualization
        title_fontsize = 18
        xlabel_fontsize = 14
        ylabel_fontsize = 14
        tick_fontsize = 12

    fig.suptitle(f'Distribution of Quality Metrics grouped by RAG type', fontsize=title_fontsize + 2)

    for i, col in enumerate(columns):
        row = i // 2
        col_idx = i % 2
        sns.boxplot(data=df, x=group_col, y=col, ax=axes[row, col_idx], hue=group_col, palette="viridis", legend=False)  # Use a better palette, show legend only for the first subplot
        #axes[row, col_idx].set_xlabel(group_col, fontsize=xlabel_fontsize)  # Increase x label size
        axes[row, col_idx].set_xlabel('', fontsize=xlabel_fontsize)  # Remove x label
        axes[row, col_idx].set_ylabel(col, fontsize=ylabel_fontsize)  # Increase y label size
        axes[row, col_idx].tick_params(axis='x', rotation=45, labelsize=tick_fontsize)  # Rotate x ticks, adjust size
        axes[row, col_idx].tick_params(axis='y', labelsize=tick_fontsize)  # adjust y ticks size
        plt.setp(axes[row, col_idx].get_xticklabels(), ha="right")
        axes[row, col_idx].grid(axis='y', linestyle='--')  # Add grid lines for better readability
        axes[row, col_idx].set_title(f'Distribution of {col}', fontsize=title_fontsize - 4)

    plt.tight_layout(rect=[0, 0.03, 1, 0.95]) # Adjust layout to make room for the suptitle

    # Save the figure to the 'figures' directory with 400 dpi
    filename = f'figures/{group_col}_boxplots.png'
    plt.savefig(filename, dpi=400)
    plt.close(fig) # close figure to prevent display

# Create a graphical abstract (example using the first boxplot)
# This is a placeholder; replace with your actual graphical abstract creation code
graphical_abstract_group_col = group_columns[0]  # Example: use the first group
fig_graphical_abstract, axes_graphical_abstract = plt.subplots(1, 1, figsize=(13.28, 5.31)) # Adjusted figure size to meet the minimum pixel requirements (hxw) with a 400 dpi resolution.
sns.boxplot(data=df, x=graphical_abstract_group_col, y=columns[0], ax=axes_graphical_abstract, hue=graphical_abstract_group_col, palette="viridis", legend=False)
title = f'Graphical Abstract: Distribution of {columns[0]} grouped by {graphical_abstract_group_col}'
wrapped_title = '\n'.join(title[i:i+40] for i in range(0, len(title), 40)) # Break in 40 character chunks
axes_graphical_abstract.set_title(wrapped_title, fontsize=16)
axes_graphical_abstract.set_xlabel('', fontsize=12)
axes_graphical_abstract.set_ylabel(columns[0], fontsize=12)
axes_graphical_abstract.tick_params(axis='x', rotation=45, labelsize=10)
axes_graphical_abstract.tick_params(axis='y', labelsize=10)
plt.setp(axes_graphical_abstract.get_xticklabels(), ha="right")
axes_graphical_abstract.grid(axis='y', linestyle='--')
plt.tight_layout()

# Save the graphical abstract with specified dimensions and DPI
graphical_abstract_filename = 'figures/graphical_abstract.png'
fig_graphical_abstract.savefig(graphical_abstract_filename, dpi=400)
plt.close(fig_graphical_abstract)

print(f"Graphical abstract saved to {graphical_abstract_filename} with a resolution of 400 dpi and dimensions of 531x1328 pixels (height x width).")

Graphical abstract saved to figures/graphical_abstract.png with a resolution of 400 dpi and dimensions of 531x1328 pixels (height x width).

In [6]:
# Define the columns for analysis
columns = ['quality', 'agreement', 'accuracy', 'hallucination']

# Calculate the Spearman correlation matrix
spearman_corr = df[columns].corr(method='spearman')
display(spearman_corr)

# Calculate p-values for Spearman correlation coefficients
p_values = np.zeros(spearman_corr.shape)
for i in range(len(columns)):
    for j in range(len(columns)):
        if i != j:
            _, p_values[i, j] = ss.spearmanr(df[columns[i]], df[columns[j]], nan_policy='omit')
        else:
            p_values[i, j] = np.nan  # Set diagonal p-values to NaN

# Adjust p-values using Benjamini-Hochberg correction
p_values_flat = p_values.flatten()
reject, p_values_corrected, _, _ = multipletests(p_values_flat[~np.isnan(p_values_flat)], method='fdr_bh')
p_values_corrected_matrix = np.zeros_like(p_values)
p_values_corrected_matrix[~np.isnan(p_values)] = p_values_corrected

# Create a mask for insignificant correlations (p > 0.05)
mask = p_values_corrected_matrix > 0.05

# Create a mask for the upper triangle
mask_upper = np.triu(np.ones_like(spearman_corr, dtype=bool))

# Prepare annotations: correlation value or asterisk for significance
annotations = np.empty_like(spearman_corr, dtype=object)
for i in range(spearman_corr.shape[0]):
    for j in range(spearman_corr.shape[1]):
        if mask[i, j] or mask_upper[i,j]:
            annotations[i, j] = ""  # Empty string if masked
        else:
            annotations[i, j] = f"{spearman_corr.iloc[i, j]:.2f}"
            if p_values_corrected_matrix[i, j] <= 0.05:
                annotations[i, j] += "*"  # Add asterisk if significant

# Create the scatter plot matrix with Seaborn's PairGrid
g = sns.PairGrid(df[columns])
g.map_lower(sns.scatterplot, color="black")  # Plot scatter plots in the lower triangle
g.map_diag(sns.histplot, color="lightgray")  # Plot histograms on the diagonal
g.map_upper(sns.kdeplot, cmap="Blues")       # Plot densities in the upper triangle

# Add correlation annotations to the plots
for i in range(len(columns)):
    for j in range(i+1, len(columns)):  # Only fill the upper triangle
        g.axes[i, j].annotate(f"Corr: {spearman_corr.iloc[i, j]:.2f}\n", 
                              xy=(0.5, 0.5), xycoords="axes fraction", ha="center", va="center", 
                              fontsize=16 + 4, color="gray") # Increased fontsize by 4

# Increase the font size of x and y labels
for ax in g.axes.flat:
    if ax is not None:
        ax.set_xlabel(ax.get_xlabel(), fontsize=10 + 4)  # Increase x label size by 4
        ax.set_ylabel(ax.get_ylabel(), fontsize=10 + 4)  # Increase y label size by 4

# Adding the title
plt.subplots_adjust(top=0.9)  # Adjust the top value as needed
title = "Pairwise scatter plot matrix with Spearman’s correlations\nand Benjamini-Hochberg correction."
plt.suptitle(title, fontsize=18 + 4) # Increased fontsize by 4


# Save the figure
filename = 'figures/pairplot_spearman_correlation_matrix.png'
plt.savefig(filename, dpi=400, bbox_inches='tight') # Increased DPI to 400
plt.close()

print(f"Spearman correlation pairplot saved to {filename}")

                quality  agreement  accuracy  hallucination
quality        1.000000   0.958889  0.976611      -0.276643
agreement      0.958889   1.000000  0.954939      -0.284378
accuracy       0.976611   0.954939  1.000000      -0.283889
hallucination -0.276643  -0.284378 -0.283889       1.000000

Spearman correlation pairplot saved to figures/pairplot_spearman_correlation_matrix.png

In [7]:
# Ensure categorical variables are properly set
categorical_vars = ['model', 'temperature', 'top_p', 'attempt', 'rag_type']
for var in categorical_vars:
    df[var] = df[var].astype('category')

# Reshape the data into long format for multivariate modeling
df_long = df.melt(id_vars=['attempt', 'model', 'temperature', 'top_p', 'rag_type'], 
                  value_vars=['quality', 'agreement', 'accuracy', 'hallucination'], 
                  var_name='response_type', value_name='value')



# Define the mixed model formula with interaction effects
formula = "value ~ model + temperature + top_p + rag_type + model:temperature + model:top_p + temperature:top_p"

# Fit a Multivariate Linear Mixed Model (MLMM) with random intercepts for prompts
md_mlmm = smf.mixedlm(formula, data=df_long, groups=df_long['attempt'], 
                       re_formula="~1", vc_formula={"response_type": "0 + C(response_type)"})

mdf_mlmm = md_mlmm.fit(method="cg")
print(mdf_mlmm.summary())
# assumptions are not satisfied. solve by bootstrap

                               Mixed Linear Model Regression Results
===================================================================================================
Model:                           MixedLM              Dependent Variable:              value
No. Observations:                70560                Method:                          REML
No. Groups:                      196                  Scale:                           6.4044
Min. group size:                 360                  Log-Likelihood:                  -166720.4121
Max. group size:                 360                  Converged:                       Yes
Mean group size:                 360.0
---------------------------------------------------------------------------------------------------
                                                       Coef.  Std.Err.    z     P>|z| [0.025 0.975]
---------------------------------------------------------------------------------------------------
Intercept                                               3.913    0.068   57.475 0.000  3.780  4.047
model[T.TeenyTinyLlama-160m-NCM-ft]                     2.015    0.067   29.907 0.000  1.883  2.147
model[T.deepseek-chat]                                  1.388    0.067   20.601 0.000  1.256  1.520
model[T.gemini-2.0-flash]                               0.878    0.067   13.036 0.000  0.746  1.010
model[T.gpt-4o-mini-2024-07-18]                         0.988    0.067   14.673 0.000  0.856  1.120
temperature[T.1.0]                                      0.125    0.062    2.017 0.044  0.004  0.246
temperature[T.1.9]                                      0.355    0.062    5.747 0.000  0.234  0.476
top_p[T.0.5]                                            0.166    0.062    2.691 0.007  0.045  0.287
top_p[T.0.9]                                            0.312    0.062    5.052 0.000  0.191  0.433
rag_type[T.Common RAG]                                 -2.318    0.019 -121.648 0.000 -2.355 -2.281
model[T.TeenyTinyLlama-160m-NCM-ft]:temperature[T.1.0] -0.591    0.074   -8.008 0.000 -0.736 -0.446
model[T.deepseek-chat]:temperature[T.1.0]              -0.046    0.074   -0.619 0.536 -0.190  0.099
model[T.gemini-2.0-flash]:temperature[T.1.0]           -0.055    0.074   -0.752 0.452 -0.200  0.089
model[T.gpt-4o-mini-2024-07-18]:temperature[T.1.0]     -0.063    0.074   -0.856 0.392 -0.208  0.082
model[T.TeenyTinyLlama-160m-NCM-ft]:temperature[T.1.9] -1.154    0.074  -15.639 0.000 -1.299 -1.009
model[T.deepseek-chat]:temperature[T.1.9]              -0.271    0.074   -3.679 0.000 -0.416 -0.127
model[T.gemini-2.0-flash]:temperature[T.1.9]           -0.254    0.074   -3.440 0.001 -0.398 -0.109
model[T.gpt-4o-mini-2024-07-18]:temperature[T.1.9]     -0.257    0.074   -3.480 0.001 -0.401 -0.112
model[T.TeenyTinyLlama-160m-NCM-ft]:top_p[T.0.5]       -0.686    0.074   -9.296 0.000 -0.831 -0.541
model[T.deepseek-chat]:top_p[T.0.5]                    -0.114    0.074   -1.541 0.123 -0.258  0.031
model[T.gemini-2.0-flash]:top_p[T.0.5]                 -0.109    0.074   -1.484 0.138 -0.254  0.035
model[T.gpt-4o-mini-2024-07-18]:top_p[T.0.5]           -0.087    0.074   -1.184 0.236 -0.232  0.057
model[T.TeenyTinyLlama-160m-NCM-ft]:top_p[T.0.9]       -1.017    0.074  -13.781 0.000 -1.162 -0.872
model[T.deepseek-chat]:top_p[T.0.9]                    -0.209    0.074   -2.826 0.005 -0.353 -0.064
model[T.gemini-2.0-flash]:top_p[T.0.9]                 -0.269    0.074   -3.650 0.000 -0.414 -0.125
model[T.gpt-4o-mini-2024-07-18]:top_p[T.0.9]           -0.229    0.074   -3.100 0.002 -0.373 -0.084
temperature[T.1.0]:top_p[T.0.5]                        -0.093    0.057   -1.631 0.103 -0.205  0.019
temperature[T.1.9]:top_p[T.0.5]                        -0.149    0.057   -2.615 0.009 -0.262 -0.037
temperature[T.1.0]:top_p[T.0.9]                        -0.128    0.057   -2.238 0.025 -0.240 -0.016
temperature[T.1.9]:top_p[T.0.9]                        -0.106    0.057   -1.850 0.064 -0.218  0.006
Group Var                                               0.179    0.016
response_type Var                                       0.783    0.020
===================================================================================================

In [8]:
api = po.Api()
api.login_from_browser()
# project_id = "67ec712c95ada7264a1dfa17" # 9 pg
project_id = "67bcb7190363417c095b80b3" # original
root_folder = api.project_get_files(project_id).children
figures_folder_id = next(file.id for file in root_folder if file.name == "figures")

figures_dir = "figures"
for filename in os.listdir(figures_dir):
    if filename.endswith(".png"):
        filepath = os.path.join(figures_dir, filename)
        try:
            file_bytes = open(filepath, "rb").read()
            new_file = api.project_upload_file(project_id, figures_folder_id, filename, file_bytes)
            print(f"Uploaded {filename} successfully.")
        except Exception as e:
            print(f"Error uploading {filename}: {e}")

Uploaded temperature_boxplots.png successfully.
Uploaded top_p_boxplots.png successfully.
Uploaded rag_type_model_boxplots.png successfully.
Uploaded rag_type_boxplots.png successfully.
Uploaded model_boxplots.png successfully.
Uploaded pairplot_spearman_correlation_matrix.png successfully.
Uploaded graphical_abstract.png successfully.

In [9]:
from joblib import Parallel, delayed
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf
import warnings
from tqdm.notebook import tqdm

def bootstrap_iteration(data, formula):
    # Sample with replacement the group identifiers
    unique_attempts = data['attempt'].unique()
    sampled_attempts = np.random.choice(unique_attempts, size=len(unique_attempts), replace=True)
    
    sample_list = []
    # Reassign a new group ID to each copy to avoid conflicts in the model
    for new_id, attempt in enumerate(sampled_attempts):
        group_data = data[data['attempt'] == attempt].copy()
        group_data['bootstrap_group'] = new_id
        sample_list.append(group_data)
    
    # Ensure all dataframes have the same columns before concatenating
    first_df = sample_list[0]
    for i in range(1, len(sample_list)):
        current_df = sample_list[i]
        # Add missing columns to the current dataframe
        for col in first_df.columns:
            if col not in current_df.columns:
                current_df[col] = np.nan 
        # Add missing columns to the first dataframe (to ensure consistency)
        for col in current_df.columns:
            if col not in first_df.columns:
                first_df[col] = np.nan
        sample_list[i] = current_df  # Update the list with the modified dataframe
    
    sample = pd.concat(sample_list, ignore_index=True)
    
    try:
        # Adjust the model using the new group identifiers
        with warnings.catch_warnings():
            warnings.filterwarnings("ignore")
            md = smf.mixedlm(formula, sample, groups=sample['bootstrap_group'],
                             re_formula="~1", vc_formula={"response_type": "0 + C(response_type)"})
            mdf = md.fit(method="cg", reml=False)
        return mdf.params
    except Exception as e:
        # Optional: log the error for debugging
        print(f"Bootstrap iteration failed: {e}")
        return None

def bootstrap_model_parallel(data, n_samples, formula, n_jobs=-1):
    # Executes the iterations in parallel; n_jobs=-1 uses all available cores
    
    results = Parallel(n_jobs=n_jobs)(
        delayed(bootstrap_iteration)(data.copy(), formula) for _ in tqdm(range(n_samples), desc="Bootstrap Iterations")
    )
    
    # Filters out the iterations that failed
    results = [res for res in results if res is not None]
    return pd.DataFrame(results)

n_bootstrap = 100
bootstrap_results = bootstrap_model_parallel(df_long, n_bootstrap, formula)

if bootstrap_results.empty:
    print("No bootstrap iteration was successful. Consider increasing n_bootstrap or checking the model.")
else:
    bootstrap_means = bootstrap_results.mean()
    bootstrap_se = bootstrap_results.std()
    bootstrap_ci = bootstrap_results.quantile([0.025, 0.975])
    
    results_df = pd.DataFrame({
        'Original Coef': mdf_mlmm.params,
        'Bootstrap Mean': bootstrap_means,
        'Bootstrap SE': bootstrap_se,
        '95% CI Lower': bootstrap_ci.loc[0.025],
        '95% CI Upper': bootstrap_ci.loc[0.975]
    })
    
    print("\nCoefficients with Bootstrap Correction:")
    print(results_df.round(4))

Bootstrap Iterations:   0%|          | 0/100 [00:00<?, ?it/s]

Coefficients with Bootstrap Correction:
                                                    Original Coef  \
Intercept                                                  3.9133
model[T.TeenyTinyLlama-160m-NCM-ft]                        2.0147
model[T.deepseek-chat]                                     1.3878
model[T.gemini-2.0-flash]                                  0.8782
model[T.gpt-4o-mini-2024-07-18]                            0.9884
temperature[T.1.0]                                         0.1245
temperature[T.1.9]                                         0.3548
top_p[T.0.5]                                               0.1662
top_p[T.0.9]                                               0.3119
rag_type[T.Common RAG]                                    -2.3179
model[T.TeenyTinyLlama-160m-NCM-ft]:temperature...        -0.5910
model[T.deepseek-chat]:temperature[T.1.0]                 -0.0457
model[T.gemini-2.0-flash]:temperature[T.1.0]              -0.0555
model[T.gpt-4o-mini-2024-07-18]:temperature[T.1.0]        -0.0631
model[T.TeenyTinyLlama-160m-NCM-ft]:temperature...        -1.1541
model[T.deepseek-chat]:temperature[T.1.9]                 -0.2715
model[T.gemini-2.0-flash]:temperature[T.1.9]              -0.2538
model[T.gpt-4o-mini-2024-07-18]:temperature[T.1.9]        -0.2568
model[T.TeenyTinyLlama-160m-NCM-ft]:top_p[T.0.5]          -0.6860
model[T.deepseek-chat]:top_p[T.0.5]                       -0.1137
model[T.gemini-2.0-flash]:top_p[T.0.5]                    -0.1095
model[T.gpt-4o-mini-2024-07-18]:top_p[T.0.5]              -0.0874
model[T.TeenyTinyLlama-160m-NCM-ft]:top_p[T.0.9]          -1.0170
model[T.deepseek-chat]:top_p[T.0.9]                       -0.2085
model[T.gemini-2.0-flash]:top_p[T.0.9]                    -0.2693
model[T.gpt-4o-mini-2024-07-18]:top_p[T.0.9]              -0.2287
temperature[T.1.0]:top_p[T.0.5]                           -0.0932
temperature[T.1.9]:top_p[T.0.5]                           -0.1495
temperature[T.1.0]:top_p[T.0.9]                           -0.1279
temperature[T.1.9]:top_p[T.0.9]                           -0.1057
Group Var                                                  0.0280
response_type Var                                          0.1223

                                                    Bootstrap Mean  \
Intercept                                                   3.9174
model[T.TeenyTinyLlama-160m-NCM-ft]                         2.0184
model[T.deepseek-chat]                                      1.4107
model[T.gemini-2.0-flash]                                   0.9009
model[T.gpt-4o-mini-2024-07-18]                             1.0056
temperature[T.1.0]                                          0.1252
temperature[T.1.9]                                          0.3589
top_p[T.0.5]                                                0.1665
top_p[T.0.9]                                                0.3128
rag_type[T.Common RAG]                                     -2.3271
model[T.TeenyTinyLlama-160m-NCM-ft]:temperature...         -0.5962
model[T.deepseek-chat]:temperature[T.1.0]                  -0.0504
model[T.gemini-2.0-flash]:temperature[T.1.0]               -0.0581
model[T.gpt-4o-mini-2024-07-18]:temperature[T.1.0]         -0.0635
model[T.TeenyTinyLlama-160m-NCM-ft]:temperature...         -1.1629
model[T.deepseek-chat]:temperature[T.1.9]                  -0.2813
model[T.gemini-2.0-flash]:temperature[T.1.9]               -0.2624
model[T.gpt-4o-mini-2024-07-18]:temperature[T.1.9]         -0.2627
model[T.TeenyTinyLlama-160m-NCM-ft]:top_p[T.0.5]           -0.6880
model[T.deepseek-chat]:top_p[T.0.5]                        -0.1154
model[T.gemini-2.0-flash]:top_p[T.0.5]                     -0.1134
model[T.gpt-4o-mini-2024-07-18]:top_p[T.0.5]               -0.0902
model[T.TeenyTinyLlama-160m-NCM-ft]:top_p[T.0.9]           -1.0176
model[T.deepseek-chat]:top_p[T.0.9]                        -0.2049
model[T.gemini-2.0-flash]:top_p[T.0.9]                     -0.2710
model[T.gpt-4o-mini-2024-07-18]:top_p[T.0.9]               -0.2253
temperature[T.1.0]:top_p[T.0.5]                            -0.0946
temperature[T.1.9]:top_p[T.0.5]                            -0.1446
temperature[T.1.0]:top_p[T.0.9]                            -0.1305
temperature[T.1.9]:top_p[T.0.9]                            -0.1078
Group Var                                                   0.0425
response_type Var                                           0.0965

                                                    Bootstrap SE  \
Intercept                                                 0.1179
model[T.TeenyTinyLlama-160m-NCM-ft]                       0.1230
model[T.deepseek-chat]                                    0.1017
model[T.gemini-2.0-flash]                                 0.0985
model[T.gpt-4o-mini-2024-07-18]                           0.1038
temperature[T.1.0]                                        0.0357
temperature[T.1.9]                                        0.0453
top_p[T.0.5]                                              0.0381
top_p[T.0.9]                                              0.0462
rag_type[T.Common RAG]                                    0.0905
model[T.TeenyTinyLlama-160m-NCM-ft]:temperature...        0.0491
model[T.deepseek-chat]:temperature[T.1.0]                 0.0448
model[T.gemini-2.0-flash]:temperature[T.1.0]              0.0446
model[T.gpt-4o-mini-2024-07-18]:temperature[T.1.0]        0.0410
model[T.TeenyTinyLlama-160m-NCM-ft]:temperature...        0.0689
model[T.deepseek-chat]:temperature[T.1.9]                 0.0522
model[T.gemini-2.0-flash]:temperature[T.1.9]              0.0524
model[T.gpt-4o-mini-2024-07-18]:temperature[T.1.9]        0.0526
model[T.TeenyTinyLlama-160m-NCM-ft]:top_p[T.0.5]          0.0544
model[T.deepseek-chat]:top_p[T.0.5]                       0.0459
model[T.gemini-2.0-flash]:top_p[T.0.5]                    0.0467
model[T.gpt-4o-mini-2024-07-18]:top_p[T.0.5]              0.0442
model[T.TeenyTinyLlama-160m-NCM-ft]:top_p[T.0.9]          0.0573
model[T.deepseek-chat]:top_p[T.0.9]                       0.0540
model[T.gemini-2.0-flash]:top_p[T.0.9]                    0.0499
model[T.gpt-4o-mini-2024-07-18]:top_p[T.0.9]              0.0506
temperature[T.1.0]:top_p[T.0.5]                           0.0248
temperature[T.1.9]:top_p[T.0.5]                           0.0275
temperature[T.1.0]:top_p[T.0.9]                           0.0310
temperature[T.1.9]:top_p[T.0.9]                           0.0288
Group Var                                                 0.0194
response_type Var                                         0.0286

                                                    95% CI Lower  95% CI Upper
Intercept                                                 3.7006        4.1654
model[T.TeenyTinyLlama-160m-NCM-ft]                       1.7859        2.2455
model[T.deepseek-chat]                                    1.2239        1.6202
model[T.gemini-2.0-flash]                                 0.7386        1.1104
model[T.gpt-4o-mini-2024-07-18]                           0.8082        1.2112
temperature[T.1.0]                                        0.0606        0.1930
temperature[T.1.9]                                        0.2821        0.4423
top_p[T.0.5]                                              0.1028        0.2405
top_p[T.0.9]                                              0.2304        0.3912
rag_type[T.Common RAG]                                   -2.4989       -2.1643
model[T.TeenyTinyLlama-160m-NCM-ft]:temperature...       -0.6871       -0.5083
model[T.deepseek-chat]:temperature[T.1.0]                -0.1208        0.0353
model[T.gemini-2.0-flash]:temperature[T.1.0]             -0.1389        0.0265
model[T.gpt-4o-mini-2024-07-18]:temperature[T.1.0]       -0.1475        0.0110
model[T.TeenyTinyLlama-160m-NCM-ft]:temperature...       -1.3020       -1.0305
model[T.deepseek-chat]:temperature[T.1.9]                -0.3790       -0.1819
model[T.gemini-2.0-flash]:temperature[T.1.9]             -0.3717       -0.1709
model[T.gpt-4o-mini-2024-07-18]:temperature[T.1.9]       -0.3658       -0.1691
model[T.TeenyTinyLlama-160m-NCM-ft]:top_p[T.0.5]         -0.7850       -0.5941
model[T.deepseek-chat]:top_p[T.0.5]                      -0.2045       -0.0326
model[T.gemini-2.0-flash]:top_p[T.0.5]                   -0.2083       -0.0292
model[T.gpt-4o-mini-2024-07-18]:top_p[T.0.5]             -0.1829       -0.0045
model[T.TeenyTinyLlama-160m-NCM-ft]:top_p[T.0.9]         -1.1399       -0.9168
model[T.deepseek-chat]:top_p[T.0.9]                      -0.3130       -0.1029
model[T.gemini-2.0-flash]:top_p[T.0.9]                   -0.3667       -0.1791
model[T.gpt-4o-mini-2024-07-18]:top_p[T.0.9]             -0.3093       -0.1294
temperature[T.1.0]:top_p[T.0.5]                          -0.1369       -0.0458
temperature[T.1.9]:top_p[T.0.5]                          -0.1864       -0.0898
temperature[T.1.0]:top_p[T.0.9]                          -0.1867       -0.0701
temperature[T.1.9]:top_p[T.0.9]                          -0.1523       -0.0458
Group Var                                                 0.0143        0.0820
response_type Var                                         0.0570        0.1343

In [10]:
# Suppress all warnings, including FutureWarnings
warnings.simplefilter("ignore")

def bootstrap_iteration(data, formula):
    # Sample with replacement from group identifiers
    unique_attempts = data['attempt'].unique()
    sampled_attempts = np.random.choice(unique_attempts, size=len(unique_attempts), replace=True)
    
    sample_list = []
    # Reassign a new group ID for each copy, avoiding conflicts in the model
    for new_id, attempt in enumerate(sampled_attempts):
        group_data = data[data['attempt'] == attempt].copy()
        group_data['bootstrap_group'] = new_id
        sample_list.append(group_data)
    
    # Ensure all dataframes have the same columns before concatenating
    first_df = sample_list[0]
    for i in range(1, len(sample_list)):
        current_df = sample_list[i]
        for col in first_df.columns:
            if col not in current_df.columns:
                current_df[col] = np.nan 
        for col in current_df.columns:
            if col not in first_df.columns:
                first_df[col] = np.nan
        sample_list[i] = current_df
    sample = pd.concat(sample_list, ignore_index=True)
    
    try:
        # Adjust the model using the new group identifiers
        with warnings.catch_warnings():
            warnings.filterwarnings("ignore")
            md = smf.mixedlm(formula, sample, groups=sample['bootstrap_group'],
                             re_formula="~1", vc_formula={"response_type": "0 + C(response_type)"})
            mdf = md.fit(method="cg", reml=False)
        
        # Extract variance components
        sigma_e = mdf.scale  # Residual variance

        # For the prompt variance component (σᵤ²), prioritize vc_formula if available
        if hasattr(mdf, 'vcomp') and mdf.vcomp is not None and len(mdf.vcomp) > 0:
            sigma_u = mdf.vcomp[0]
        elif hasattr(mdf, 'cov_re') and mdf.cov_re is not None:
            if isinstance(mdf.cov_re, np.ndarray) and mdf.cov_re.size > 0:
                sigma_u = mdf.cov_re[0, 0]
            else:
                sigma_u = 0
        else:
            sigma_u = 0

        # Calculate variance explained by fixed effects (σ_f^2)
        y_pred = mdf.fittedvalues
        
        # Helper function to extract the first value of the random effect
        def get_first_effect(x):
            val = mdf.random_effects.get(x, [0])
            if isinstance(val, pd.Series):
                return val.iloc[0]
            elif isinstance(val, (list, np.ndarray)):
                return val[0]
            else:
                return 0

        random_effects_series = sample['bootstrap_group'].map(get_first_effect)
        sigma_f = np.var(y_pred - random_effects_series)

        return mdf.params, mdf.random_effects, mdf.resid, sigma_f, sigma_u, sigma_e
    except Exception as e:
        print(f"Bootstrap iteration failed: {e}")
        return None, None, None, None, None, None

def bootstrap_model_parallel(data, n_samples, formula, n_jobs=-1):
    results = Parallel(n_jobs=n_jobs)(
        delayed(bootstrap_iteration)(data.copy(), formula) for _ in tqdm(range(n_samples), desc="Bootstrap Iterations")
    )
    
    valid_results = [(res[0], res[3], res[4], res[5]) for res in results if res[0] is not None]
    if not valid_results:
        return [], [], [], []
    params, sigma_f_values, sigma_u_values, sigma_e_values = zip(*valid_results)
    return params, sigma_f_values, sigma_u_values, sigma_e_values

# Bootstrap configuration
n_bootstrap = 1000
bootstrap_results, bootstrap_sigma_f, bootstrap_sigma_u, bootstrap_sigma_e = bootstrap_model_parallel(df_long, n_bootstrap, formula)

if not bootstrap_results:
    print("No bootstrap iteration was successful. Consider increasing n_bootstrap or checking the model.")
else:
    bootstrap_results_df = pd.DataFrame(bootstrap_results)
    bootstrap_means = bootstrap_results_df.mean()
    bootstrap_se = bootstrap_results_df.std()
    bootstrap_ci = bootstrap_results_df.quantile([0.025, 0.975])
    
    results_df = pd.DataFrame({
        'Original Coef': mdf_mlmm.params,
        'Bootstrap Mean': bootstrap_means,
        'Bootstrap SE': bootstrap_se,
        '95% CI Lower': bootstrap_ci.loc[0.025],
        '95% CI Upper': bootstrap_ci.loc[0.975]
    })
    
    print("\nCoefficients with Bootstrap Correction:")
    print(results_df.round(4))

    # Estimate variance components
    avg_sigma_f = np.mean(bootstrap_sigma_f)
    avg_sigma_u = np.mean(bootstrap_sigma_u)
    avg_sigma_e = np.mean(bootstrap_sigma_e)
    
    total_variance = avg_sigma_f + avg_sigma_u + avg_sigma_e

    print(f"\nEstimated Variance Components:")
    print(f"Variance from Fixed Effects (σ_f^2): {avg_sigma_f:.4f}")
    print(f"Variance from Prompts (σ_u^2): {avg_sigma_u:.4f}")
    print(f"Residual Variance (σ_e^2): {avg_sigma_e:.4f}")
    print(f"Total Variance: {total_variance:.4f}")

    # Calculate pseudo-R^2
    marginal_r2 = avg_sigma_f / total_variance if total_variance > 0 else 0
    conditional_r2 = (avg_sigma_f + avg_sigma_u) / total_variance if total_variance > 0 else 0

    print(f"Marginal Pseudo-R^2 (R^2_m): {marginal_r2:.4f}")
    print(f"Conditional Pseudo-R^2 (R^2_c): {conditional_r2:.4f}")

Bootstrap Iterations:   0%|          | 0/1000 [00:00<?, ?it/s]

Coefficients with Bootstrap Correction:
                                                    Original Coef  \
Intercept                                                  3.9133
model[T.TeenyTinyLlama-160m-NCM-ft]                        2.0147
model[T.deepseek-chat]                                     1.3878
model[T.gemini-2.0-flash]                                  0.8782
model[T.gpt-4o-mini-2024-07-18]                            0.9884
temperature[T.1.0]                                         0.1245
temperature[T.1.9]                                         0.3548
top_p[T.0.5]                                               0.1662
top_p[T.0.9]                                               0.3119
rag_type[T.Common RAG]                                    -2.3179
model[T.TeenyTinyLlama-160m-NCM-ft]:temperature...        -0.5910
model[T.deepseek-chat]:temperature[T.1.0]                 -0.0457
model[T.gemini-2.0-flash]:temperature[T.1.0]              -0.0555
model[T.gpt-4o-mini-2024-07-18]:temperature[T.1.0]        -0.0631
model[T.TeenyTinyLlama-160m-NCM-ft]:temperature...        -1.1541
model[T.deepseek-chat]:temperature[T.1.9]                 -0.2715
model[T.gemini-2.0-flash]:temperature[T.1.9]              -0.2538
model[T.gpt-4o-mini-2024-07-18]:temperature[T.1.9]        -0.2568
model[T.TeenyTinyLlama-160m-NCM-ft]:top_p[T.0.5]          -0.6860
model[T.deepseek-chat]:top_p[T.0.5]                       -0.1137
model[T.gemini-2.0-flash]:top_p[T.0.5]                    -0.1095
model[T.gpt-4o-mini-2024-07-18]:top_p[T.0.5]              -0.0874
model[T.TeenyTinyLlama-160m-NCM-ft]:top_p[T.0.9]          -1.0170
model[T.deepseek-chat]:top_p[T.0.9]                       -0.2085
model[T.gemini-2.0-flash]:top_p[T.0.9]                    -0.2693
model[T.gpt-4o-mini-2024-07-18]:top_p[T.0.9]              -0.2287
temperature[T.1.0]:top_p[T.0.5]                           -0.0932
temperature[T.1.9]:top_p[T.0.5]                           -0.1495
temperature[T.1.0]:top_p[T.0.9]                           -0.1279
temperature[T.1.9]:top_p[T.0.9]                           -0.1057
Group Var                                                  0.0280
response_type Var                                          0.1223

                                                    Bootstrap Mean  \
Intercept                                                   3.9114
model[T.TeenyTinyLlama-160m-NCM-ft]                         2.0166
model[T.deepseek-chat]                                      1.3890
model[T.gemini-2.0-flash]                                   0.8780
model[T.gpt-4o-mini-2024-07-18]                             0.9875
temperature[T.1.0]                                          0.1246
temperature[T.1.9]                                          0.3541
top_p[T.0.5]                                                0.1660
top_p[T.0.9]                                                0.3101
rag_type[T.Common RAG]                                     -2.3165
model[T.TeenyTinyLlama-160m-NCM-ft]:temperature...         -0.5900
model[T.deepseek-chat]:temperature[T.1.0]                  -0.0468
model[T.gemini-2.0-flash]:temperature[T.1.0]               -0.0559
model[T.gpt-4o-mini-2024-07-18]:temperature[T.1.0]         -0.0636
model[T.TeenyTinyLlama-160m-NCM-ft]:temperature...         -1.1540
model[T.deepseek-chat]:temperature[T.1.9]                  -0.2714
model[T.gemini-2.0-flash]:temperature[T.1.9]               -0.2532
model[T.gpt-4o-mini-2024-07-18]:temperature[T.1.9]         -0.2562
model[T.TeenyTinyLlama-160m-NCM-ft]:top_p[T.0.5]           -0.6855
model[T.deepseek-chat]:top_p[T.0.5]                        -0.1132
model[T.gemini-2.0-flash]:top_p[T.0.5]                     -0.1089
model[T.gpt-4o-mini-2024-07-18]:top_p[T.0.5]               -0.0862
model[T.TeenyTinyLlama-160m-NCM-ft]:top_p[T.0.9]           -1.0158
model[T.deepseek-chat]:top_p[T.0.9]                        -0.2070
model[T.gemini-2.0-flash]:top_p[T.0.9]                     -0.2679
model[T.gpt-4o-mini-2024-07-18]:top_p[T.0.9]               -0.2268
temperature[T.1.0]:top_p[T.0.5]                            -0.0932
temperature[T.1.9]:top_p[T.0.5]                            -0.1500
temperature[T.1.0]:top_p[T.0.9]                            -0.1269
temperature[T.1.9]:top_p[T.0.9]                            -0.1055
Group Var                                                   0.0399
response_type Var                                           0.1028

                                                    Bootstrap SE  \
Intercept                                                 0.0982
model[T.TeenyTinyLlama-160m-NCM-ft]                       0.1149
model[T.deepseek-chat]                                    0.0987
model[T.gemini-2.0-flash]                                 0.0932
model[T.gpt-4o-mini-2024-07-18]                           0.0919
temperature[T.1.0]                                        0.0341
temperature[T.1.9]                                        0.0380
top_p[T.0.5]                                              0.0376
top_p[T.0.9]                                              0.0447
rag_type[T.Common RAG]                                    0.0830
model[T.TeenyTinyLlama-160m-NCM-ft]:temperature...        0.0528
model[T.deepseek-chat]:temperature[T.1.0]                 0.0425
model[T.gemini-2.0-flash]:temperature[T.1.0]              0.0421
model[T.gpt-4o-mini-2024-07-18]:temperature[T.1.0]        0.0388
model[T.TeenyTinyLlama-160m-NCM-ft]:temperature...        0.0643
model[T.deepseek-chat]:temperature[T.1.9]                 0.0494
model[T.gemini-2.0-flash]:temperature[T.1.9]              0.0462
model[T.gpt-4o-mini-2024-07-18]:temperature[T.1.9]        0.0435
model[T.TeenyTinyLlama-160m-NCM-ft]:top_p[T.0.5]          0.0538
model[T.deepseek-chat]:top_p[T.0.5]                       0.0476
model[T.gemini-2.0-flash]:top_p[T.0.5]                    0.0437
model[T.gpt-4o-mini-2024-07-18]:top_p[T.0.5]              0.0433
model[T.TeenyTinyLlama-160m-NCM-ft]:top_p[T.0.9]          0.0668
model[T.deepseek-chat]:top_p[T.0.9]                       0.0536
model[T.gemini-2.0-flash]:top_p[T.0.9]                    0.0516
model[T.gpt-4o-mini-2024-07-18]:top_p[T.0.9]              0.0494
temperature[T.1.0]:top_p[T.0.5]                           0.0233
temperature[T.1.9]:top_p[T.0.5]                           0.0246
temperature[T.1.0]:top_p[T.0.9]                           0.0282
temperature[T.1.9]:top_p[T.0.9]                           0.0264
Group Var                                                 0.0228
response_type Var                                         0.0275

                                                    95% CI Lower  95% CI Upper
Intercept                                                 3.7284        4.1200
model[T.TeenyTinyLlama-160m-NCM-ft]                       1.8050        2.2518
model[T.deepseek-chat]                                    1.1933        1.5806
model[T.gemini-2.0-flash]                                 0.6995        1.0555
model[T.gpt-4o-mini-2024-07-18]                           0.8009        1.1612
temperature[T.1.0]                                        0.0570        0.1925
temperature[T.1.9]                                        0.2775        0.4250
top_p[T.0.5]                                              0.0917        0.2398
top_p[T.0.9]                                              0.2203        0.4013
rag_type[T.Common RAG]                                   -2.4737       -2.1637
model[T.TeenyTinyLlama-160m-NCM-ft]:temperature...       -0.6952       -0.4910
model[T.deepseek-chat]:temperature[T.1.0]                -0.1297        0.0387
model[T.gemini-2.0-flash]:temperature[T.1.0]             -0.1397        0.0266
model[T.gpt-4o-mini-2024-07-18]:temperature[T.1.0]       -0.1395        0.0138
model[T.TeenyTinyLlama-160m-NCM-ft]:temperature...       -1.2749       -1.0312
model[T.deepseek-chat]:temperature[T.1.9]                -0.3654       -0.1806
model[T.gemini-2.0-flash]:temperature[T.1.9]             -0.3355       -0.1609
model[T.gpt-4o-mini-2024-07-18]:temperature[T.1.9]       -0.3401       -0.1726
model[T.TeenyTinyLlama-160m-NCM-ft]:top_p[T.0.5]         -0.7917       -0.5818
model[T.deepseek-chat]:top_p[T.0.5]                      -0.2060       -0.0168
model[T.gemini-2.0-flash]:top_p[T.0.5]                   -0.1982       -0.0217
model[T.gpt-4o-mini-2024-07-18]:top_p[T.0.5]             -0.1720        0.0021
model[T.TeenyTinyLlama-160m-NCM-ft]:top_p[T.0.9]         -1.1516       -0.8877
model[T.deepseek-chat]:top_p[T.0.9]                      -0.3115       -0.1018
model[T.gemini-2.0-flash]:top_p[T.0.9]                   -0.3718       -0.1722
model[T.gpt-4o-mini-2024-07-18]:top_p[T.0.9]             -0.3297       -0.1307
temperature[T.1.0]:top_p[T.0.5]                          -0.1378       -0.0488
temperature[T.1.9]:top_p[T.0.5]                          -0.1944       -0.1008
temperature[T.1.0]:top_p[T.0.9]                          -0.1792       -0.0699
temperature[T.1.9]:top_p[T.0.9]                          -0.1575       -0.0537
Group Var                                                 0.0106        0.0934
response_type Var                                         0.0560        0.1399

Estimated Variance Components:
Variance from Fixed Effects (σ_f^2): 2.1336
Variance from Prompts (σ_u^2): 0.6581
Residual Variance (σ_e^2): 6.4070
Total Variance: 9.1987
Marginal Pseudo-R^2 (R^2_m): 0.2319
Conditional Pseudo-R^2 (R^2_c): 0.3035